node_modules
*.vim
.env*
*.mp4
node_modules
*.vim
.env*
*.mp4
x11lib
toy*
node_modules
*.vim
.env*
*.mp4
libx11
.cache/clangd/index
manual-render
compile_commands.json
CLAUDE.local.md
__pycache__
.claude
web
